@model IEnumerable<EMSApp.Models.ATTENDANCE_DETAILS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
           Date
        </th>
        <th>
            Check In
        </th>
        <th>
            Check Out
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ATT_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECK_IN_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHECK_OUT_TIME)
        </td>        
    </tr>
}

</table>
