@model IEnumerable<EMSApp.Models.NOTICE_BOARD>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="container-fluid">

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:10px">
                    <div class="col-md-12" style="color:white;border:double;border-color: cadetblue;">
                        <div class=" panel panel-danger" style="padding:10px;">
                            <div class="panel-body">
                                <p>
                                    <b style="font-weight:800">Notice: </b> @item.NOTICE
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
