USE [master]
GO
/****** Object:  Database [EMS]    Script Date: 3/4/2020 5:26:07 PM ******/
CREATE DATABASE [EMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMS]
GO
USE [EMS]
GO
/****** Object:  Sequence [dbo].[seq_INV_INFO_INV_ID]    Script Date: 3/4/2020 5:26:07 PM ******/
CREATE SEQUENCE [dbo].[seq_INV_INFO_INV_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [EMS]
GO
/****** Object:  Sequence [dbo].[seqForItemInfoItemId]    Script Date: 3/4/2020 5:26:07 PM ******/
CREATE SEQUENCE [dbo].[seqForItemInfoItemId] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[ASSET_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSET_INFO](
	[ASSET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ASSET_TITLE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_ASSET_INFO] PRIMARY KEY CLUSTERED 
(
	[ASSET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ASSET_MANAGEMENT]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSET_MANAGEMENT](
	[ASSET_MNG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [bigint] NOT NULL,
	[EQUP_ID] [bigint] NOT NULL,
	[DATE_ASSN] [nvarchar](50) NOT NULL,
	[DATE_RTN] [nvarchar](50) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[LOCATION] [nvarchar](100) NULL,
 CONSTRAINT [PK_ASSET_ASSIGNMENT] PRIMARY KEY CLUSTERED 
(
	[ASSET_MNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATTENDANCE_DETAILS]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATTENDANCE_DETAILS](
	[ATNDNC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
	[ATT_DATE] [date] NOT NULL,
	[CHECK_IN_TIME] [time](0) NULL,
	[CHECK_OUT_TIME] [time](0) NULL,
	[SL_NO] [int] NULL,
	[STATUS] [char](1) NULL,
 CONSTRAINT [PK_ATTENDANCE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ATNDNC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARD_ASSIGN_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_ASSIGN_INFO](
	[CARD_ASSGN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [bigint] NOT NULL,
	[CARD_NO] [nchar](10) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_CARD_ASSIGN_INFO] PRIMARY KEY CLUSTERED 
(
	[CARD_ASSGN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENT_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT_INFO](
	[DEPT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DEPT_TITLE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_DEPARTMENT_INFO] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIVISION_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIVISION_INFO](
	[DIV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DIV_TITLE] [nvarchar](50) NOT NULL,
	[DEPT_ID] [bigint] NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_DIVISION_INFO] PRIMARY KEY CLUSTERED 
(
	[DIV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_APPLICATION]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_APPLICATION](
	[APP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APP_SUB] [nvarchar](100) NOT NULL,
	[APP_BODY] [nvarchar](1000) NOT NULL,
	[EMP_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_EMPLOYEE_APPLICATION] PRIMARY KEY CLUSTERED 
(
	[APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[CONTACT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NID] [nvarchar](50) NULL,
	[IMAGE] [nvarchar](500) NULL,
	[CITY] [nvarchar](50) NULL,
	[POSTAL_CODE] [nvarchar](50) NULL,
	[DOB] [nvarchar](50) NOT NULL,
	[GENDER] [char](1) NOT NULL,
	[BLOOD_GROUP] [char](3) NULL,
	[IS_DELETED] [char](1) NOT NULL,
	[JOINING_DATE] [nvarchar](50) NULL,
	[RESIGNING_DATE] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[MARITALA_STATUS] [char](1) NULL,
	[NATIONALITY] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPLOYEE_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUEPMENTS_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUEPMENTS_INFO](
	[EQUEPMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EQP_TITLE] [nvarchar](50) NOT NULL,
	[ASSET_ID] [bigint] NOT NULL,
	[MODEL_NO] [nvarchar](50) NULL,
	[SERIAL_NO] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ASSET_FOR] [char](1) NULL,
 CONSTRAINT [PK_EQUEPMENTS_INFO] PRIMARY KEY CLUSTERED 
(
	[EQUEPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INCREMENT_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INCREMENT_INFO](
	[INCREMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [bigint] NOT NULL,
	[INCREMENT_RATE] [int] NOT NULL,
	[INCREMENT_TYPE] [bigint] NOT NULL,
	[INCREMENT_FROM] [date] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [bigint] NULL,
	[REMARKS] [nvarchar](500) NULL,
	[INCREMENT_CALCULATE_AS] [char](1) NOT NULL,
	[PREV_BASIC] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_INCREMENT_INFO] PRIMARY KEY CLUSTERED 
(
	[INCREMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INCREMENT_TYPE_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCREMENT_TYPE_INFO](
	[INCREMENT_TYPE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INCREMENT_TYPE_TITLE] [nvarchar](50) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[REMARKS] [nvarchar](50) NULL,
 CONSTRAINT [PK_INCREMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[INCREMENT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INV_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INV_INFO](
	[INV_ID] [bigint] NOT NULL,
	[EQP_ID] [bigint] NOT NULL,
	[VENDOR_ID] [bigint] NOT NULL,
	[UNIT] [int] NOT NULL,
	[DATE] [nvarchar](50) NOT NULL,
	[STOCK_TYPE] [char](1) NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[NOTE] [nvarchar](500) NULL,
	[TAG_NO] [nvarchar](50) NULL,
 CONSTRAINT [PK_ITEM_INFO] PRIMARY KEY CLUSTERED 
(
	[INV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LEAVE_APPLICATION]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LEAVE_APPLICATION](
	[LEAVE_APP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LEAVE_TYPE_ID] [bigint] NOT NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
	[START_DATE] [nvarchar](50) NOT NULL,
	[END_DATE] [nvarchar](50) NULL,
	[APPROVED_START_DATE] [nvarchar](50) NULL,
	[APPROVED_END_DATE] [nvarchar](50) NULL,
	[STATUS] [char](1) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[LEAVE_DAY] [float] NULL,
 CONSTRAINT [PK_LEAVE_APPLICATION] PRIMARY KEY CLUSTERED 
(
	[LEAVE_APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LEAVE_TYPE]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE_TYPE](
	[LEAVE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LEAVE_TITLE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](500) NULL,
	[ACTIVE_BY] [bigint] NOT NULL,
	[ACTIVE_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_LEAVE_TYPE] PRIMARY KEY CLUSTERED 
(
	[LEAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOTICE_BOARD]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTICE_BOARD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOTICE] [nvarchar](1000) NOT NULL,
	[DEPT_ID] [bigint] NULL,
	[DIV_ID] [bigint] NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[STATUS] [char](1) NOT NULL,
 CONSTRAINT [PK_NOTICE_BOARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSITIONAL_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSITIONAL_INFO](
	[POSITION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POSITION_TITLE] [nvarchar](50) NOT NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
	[BASIC_SALARY] [decimal](18, 2) NOT NULL,
	[DUTY_TYPE] [char](1) NOT NULL,
	[RATE_TYPE] [char](1) NOT NULL,
	[PAY_FREQ] [char](1) NOT NULL,
	[DIV_ID] [bigint] NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[STATUS] [char](1) NOT NULL,
	[WORKING_SHIFT] [time](0) NOT NULL,
	[WORKING_HOURS] [int] NOT NULL,
 CONSTRAINT [PK_POSITIONAL_INFO] PRIMARY KEY CLUSTERED 
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALARY_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALARY_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
	[SALARY_PAID] [nvarchar](50) NOT NULL,
	[GROSS_SALARY] [decimal](18, 2) NOT NULL,
	[BONUS] [decimal](18, 2) NULL,
	[DEDUCTION] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[OTHERS] [decimal](18, 2) NULL,
	[ADDITION] [decimal](18, 2) NULL,
	[STATUS] [char](1) NULL,
	[ADVANCE] [decimal](18, 2) NULL,
	[COMMISSION] [decimal](18, 2) NULL,
	[REMARKS] [nvarchar](500) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SALARY_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALARY_INFO_SUM]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY_INFO_SUM](
	[SALARY_INFO_SUM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SALARY_PAID_MONTH] [nvarchar](50) NOT NULL,
	[TOTAL_PAID] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SALARY_INFO_SUM] PRIMARY KEY CLUSTERED 
(
	[SALARY_INFO_SUM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALARY_SETUP]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALARY_SETUP](
	[SALARY_SET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [bigint] NOT NULL,
	[POSITION_ID] [bigint] NULL,
	[PAY_TYPE] [char](1) NOT NULL,
	[GROSS_SALARY] [decimal](18, 2) NOT NULL,
	[SALARY_GRADE_SETUP] [nvarchar](500) NOT NULL,
	[SALARY_GRADE_SETUP_STRING] [nvarchar](100) NULL,
	[CANGE_TYPE] [char](1) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SALARY_SETUP] PRIMARY KEY CLUSTERED 
(
	[SALARY_SET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALARY-GRADE]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALARY-GRADE](
	[GRADE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GRADE_TITLE] [nvarchar](50) NOT NULL,
	[GRADE_TYPE] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SALARY-GRADE] PRIMARY KEY CLUSTERED 
(
	[GRADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STOCK_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STOCK_INFO](
	[STOCK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EQP_ID] [bigint] NOT NULL,
	[UNIT] [int] NOT NULL,
	[STOCK_TYPE] [char](1) NOT NULL,
	[STOCK_FOR] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[INV_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_STOCK_INFO] PRIMARY KEY CLUSTERED 
(
	[STOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEAM_DETAILS]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM_DETAILS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEAM_ID] [bigint] NOT NULL,
	[MEMBER] [bigint] NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STATUS] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TEAM_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEAM_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEAM_TITLE] [nvarchar](50) NOT NULL,
	[TEAM_LEADER] [bigint] NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STATUS] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACTION_ITEM]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACTION_ITEM](
	[TRNS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRNS_TITLE] [nvarchar](50) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[TYPE] [char](1) NOT NULL,
 CONSTRAINT [PK_EXPENSES_ITEM] PRIMARY KEY CLUSTERED 
(
	[TRNS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACTION_SHEET]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACTION_SHEET](
	[TRNS_S_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE] [nvarchar](50) NOT NULL,
	[TRNS_ID] [bigint] NOT NULL,
	[AMOUNT] [decimal](18, 2) NOT NULL,
	[PAY_TYPE] [char](1) NOT NULL,
	[VOUCHER_NO] [nvarchar](50) NULL,
	[TYPE] [char](1) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_EXPENSES_SHEET] PRIMARY KEY CLUSTERED 
(
	[TRNS_S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[CONTACT] [varchar](50) NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[USER_LEVEL] [char](1) NOT NULL,
	[IS_DELETED] [char](1) NULL,
	[ACTION_DATE] [datetime] NULL,
	[ACTION_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [bigint] NULL,
 CONSTRAINT [PK_USER_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDOR_INFO]    Script Date: 3/4/2020 5:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENDOR_INFO](
	[VENDOR_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VENDOR_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
	[CONTACT] [nvarchar](50) NOT NULL,
	[VENDOR_TYPE] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[STATUS] [char](1) NOT NULL,
 CONSTRAINT [PK_VENDOR_INFO] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ASSET_INFO] ON 

INSERT [dbo].[ASSET_INFO] ([ASSET_ID], [ASSET_TITLE], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'Electronics', N'n/a', 0, CAST(N'2020-03-04 15:36:20.430' AS DateTime), 2, CAST(N'2020-03-04 15:36:30.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[ASSET_INFO] OFF
SET IDENTITY_INSERT [dbo].[ASSET_MANAGEMENT] ON 

INSERT [dbo].[ASSET_MANAGEMENT] ([ASSET_MNG_ID], [EMP_ID], [EQUP_ID], [DATE_ASSN], [DATE_RTN], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [LOCATION]) VALUES (1, 3, 1, N'2020-03-01', NULL, N'n/a', 0, CAST(N'2020-03-04 15:37:19.207' AS DateTime), 2, CAST(N'2020-03-04 15:37:24.757' AS DateTime), N'Conf')
SET IDENTITY_INSERT [dbo].[ASSET_MANAGEMENT] OFF
SET IDENTITY_INSERT [dbo].[ATTENDANCE_DETAILS] ON 

INSERT [dbo].[ATTENDANCE_DETAILS] ([ATNDNC_ID], [EMPLOYEE_ID], [ATT_DATE], [CHECK_IN_TIME], [CHECK_OUT_TIME], [SL_NO], [STATUS]) VALUES (11825, 2, CAST(N'2020-02-01' AS Date), CAST(N'11:12:00' AS Time), NULL, 1, N'i')
INSERT [dbo].[ATTENDANCE_DETAILS] ([ATNDNC_ID], [EMPLOYEE_ID], [ATT_DATE], [CHECK_IN_TIME], [CHECK_OUT_TIME], [SL_NO], [STATUS]) VALUES (11826, 2, CAST(N'2020-02-01' AS Date), NULL, CAST(N'19:34:00' AS Time), 2, N'o')
INSERT [dbo].[ATTENDANCE_DETAILS] ([ATNDNC_ID], [EMPLOYEE_ID], [ATT_DATE], [CHECK_IN_TIME], [CHECK_OUT_TIME], [SL_NO], [STATUS]) VALUES (11827, 2, CAST(N'2020-02-02' AS Date), CAST(N'11:02:00' AS Time), NULL, 1, N'i')
SET IDENTITY_INSERT [dbo].[ATTENDANCE_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[CARD_ASSIGN_INFO] ON 

INSERT [dbo].[CARD_ASSIGN_INFO] ([CARD_ASSGN_ID], [EMP_ID], [CARD_NO], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, 1, N'24        ', 1, CAST(N'2020-02-26 11:22:10.953' AS DateTime), NULL, NULL)
INSERT [dbo].[CARD_ASSIGN_INFO] ([CARD_ASSGN_ID], [EMP_ID], [CARD_NO], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, 2, N'1         ', 2, CAST(N'2020-03-03 12:09:01.640' AS DateTime), NULL, NULL)
INSERT [dbo].[CARD_ASSIGN_INFO] ([CARD_ASSGN_ID], [EMP_ID], [CARD_NO], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (3, 3, N'4         ', 0, CAST(N'2020-03-03 12:09:08.037' AS DateTime), 2, CAST(N'2020-03-03 12:12:55.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[CARD_ASSIGN_INFO] OFF
SET IDENTITY_INSERT [dbo].[DEPARTMENT_INFO] ON 

INSERT [dbo].[DEPARTMENT_INFO] ([DEPT_ID], [DEPT_TITLE], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'HR', N'N/A', 0, CAST(N'2020-02-25 16:29:29.697' AS DateTime), 1, CAST(N'2020-02-25 16:31:07.680' AS DateTime))
INSERT [dbo].[DEPARTMENT_INFO] ([DEPT_ID], [DEPT_TITLE], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'Marketing', N'N/A', 0, CAST(N'2020-02-25 16:29:53.957' AS DateTime), 1, CAST(N'2020-02-25 16:31:20.287' AS DateTime))
INSERT [dbo].[DEPARTMENT_INFO] ([DEPT_ID], [DEPT_TITLE], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (4, N'Software Development', N'N/A', 1, CAST(N'2020-02-25 16:31:55.447' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DEPARTMENT_INFO] OFF
SET IDENTITY_INSERT [dbo].[DIVISION_INFO] ON 

INSERT [dbo].[DIVISION_INFO] ([DIV_ID], [DIV_TITLE], [DEPT_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'Asp .Net', 4, 1, CAST(N'2020-02-25 16:32:43.453' AS DateTime), NULL, NULL)
INSERT [dbo].[DIVISION_INFO] ([DIV_ID], [DIV_TITLE], [DEPT_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'Sells', 2, 1, CAST(N'2020-02-25 16:33:43.090' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DIVISION_INFO] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEE_INFO] ON 

INSERT [dbo].[EMPLOYEE_INFO] ([ID], [EMPLOYEE_NAME], [ADDRESS], [CONTACT], [EMAIL], [NID], [IMAGE], [CITY], [POSTAL_CODE], [DOB], [GENDER], [BLOOD_GROUP], [IS_DELETED], [JOINING_DATE], [RESIGNING_DATE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [MARITALA_STATUS], [NATIONALITY]) VALUES (1, N'Tama', N'Barishal', N'0178546852', N'tama@gmail.com', N'15786665245', N'../../Uploads/1550285432790.jpg', N'Barishal', N'1234', N'1991-02-03', N'f', NULL, N'a', N'2020-01-09', NULL, 0, CAST(N'2020-02-25 16:40:57.147' AS DateTime), 1, CAST(N'2020-02-27 11:24:51.960' AS DateTime), N's', NULL)
INSERT [dbo].[EMPLOYEE_INFO] ([ID], [EMPLOYEE_NAME], [ADDRESS], [CONTACT], [EMAIL], [NID], [IMAGE], [CITY], [POSTAL_CODE], [DOB], [GENDER], [BLOOD_GROUP], [IS_DELETED], [JOINING_DATE], [RESIGNING_DATE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [MARITALA_STATUS], [NATIONALITY]) VALUES (2, N'Robert', N'NY', N'123456', N'robert@gmail.com', N'967498889', N'../../Uploads/png-avatar-4.png', N'NY', N'698456', N'1990-02-27', N'm', N'AB+', N'a', N'2020-01-04', NULL, 2, CAST(N'2020-02-27 17:23:05.853' AS DateTime), NULL, NULL, N's', NULL)
INSERT [dbo].[EMPLOYEE_INFO] ([ID], [EMPLOYEE_NAME], [ADDRESS], [CONTACT], [EMAIL], [NID], [IMAGE], [CITY], [POSTAL_CODE], [DOB], [GENDER], [BLOOD_GROUP], [IS_DELETED], [JOINING_DATE], [RESIGNING_DATE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [MARITALA_STATUS], [NATIONALITY]) VALUES (3, N'Cristopher', N'NY', N'01982564963', N'cris.1987@yahoo.com', N'649665795965', N'../../Uploads/img_avatar.png', N'NY', N'698456', N'1987-02-27', N'm', N'A+ ', N'a', N'2015-02-01', NULL, 2, CAST(N'2020-02-27 17:24:07.217' AS DateTime), NULL, NULL, N'm', NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYEE_INFO] OFF
SET IDENTITY_INSERT [dbo].[EQUEPMENTS_INFO] ON 

INSERT [dbo].[EQUEPMENTS_INFO] ([EQUEPMENT_ID], [EQP_TITLE], [ASSET_ID], [MODEL_NO], [SERIAL_NO], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [ASSET_FOR]) VALUES (1, N'Computer', 1, N'sd-1245856', N'12589643856', 2, CAST(N'2020-03-04 15:36:55.533' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[EQUEPMENTS_INFO] OFF
SET IDENTITY_INSERT [dbo].[INCREMENT_INFO] ON 

INSERT [dbo].[INCREMENT_INFO] ([INCREMENT_ID], [EMP_ID], [INCREMENT_RATE], [INCREMENT_TYPE], [INCREMENT_FROM], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY], [REMARKS], [INCREMENT_CALCULATE_AS], [PREV_BASIC]) VALUES (1, 1, 7000, 1, CAST(N'2020-03-03' AS Date), CAST(N'2020-03-03 13:30:12.837' AS DateTime), 2, CAST(N'2020-03-03 14:01:34.450' AS DateTime), 2, N'n/a', N'a', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[INCREMENT_INFO] ([INCREMENT_ID], [EMP_ID], [INCREMENT_RATE], [INCREMENT_TYPE], [INCREMENT_FROM], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY], [REMARKS], [INCREMENT_CALCULATE_AS], [PREV_BASIC]) VALUES (2, 2, 16, 4, CAST(N'2020-03-03' AS Date), CAST(N'2020-03-03 14:03:26.420' AS DateTime), 2, NULL, NULL, N'', N'p', CAST(55000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[INCREMENT_INFO] OFF
SET IDENTITY_INSERT [dbo].[INCREMENT_TYPE_INFO] ON 

INSERT [dbo].[INCREMENT_TYPE_INFO] ([INCREMENT_TYPE_ID], [INCREMENT_TYPE_TITLE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [REMARKS]) VALUES (1, N'3 Months', 0, CAST(N'2020-02-27 14:48:00.010' AS DateTime), 2, CAST(N'2020-02-27 14:48:30.470' AS DateTime), N'After 3 Months')
INSERT [dbo].[INCREMENT_TYPE_INFO] ([INCREMENT_TYPE_ID], [INCREMENT_TYPE_TITLE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [REMARKS]) VALUES (2, N'6 Months', 2, CAST(N'2020-02-27 14:49:04.723' AS DateTime), NULL, NULL, N'After 6 Months')
INSERT [dbo].[INCREMENT_TYPE_INFO] ([INCREMENT_TYPE_ID], [INCREMENT_TYPE_TITLE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [REMARKS]) VALUES (4, N'Yearly', 2, CAST(N'2020-02-27 16:01:32.150' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[INCREMENT_TYPE_INFO] OFF
INSERT [dbo].[INV_INFO] ([INV_ID], [EQP_ID], [VENDOR_ID], [UNIT], [DATE], [STOCK_TYPE], [ACTION_DATE], [ACTION_BY], [UPDATE_BY], [UPDATE_DATE], [NOTE], [TAG_NO]) VALUES (1, 1, 1, 10, N'2020-02-01', N'p', CAST(N'2020-03-04 16:02:49.477' AS DateTime), 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[INV_INFO] ([INV_ID], [EQP_ID], [VENDOR_ID], [UNIT], [DATE], [STOCK_TYPE], [ACTION_DATE], [ACTION_BY], [UPDATE_BY], [UPDATE_DATE], [NOTE], [TAG_NO]) VALUES (2, 1, 2, 2, N'2020-02-19', N's', CAST(N'2020-03-04 16:07:44.223' AS DateTime), 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[INV_INFO] ([INV_ID], [EQP_ID], [VENDOR_ID], [UNIT], [DATE], [STOCK_TYPE], [ACTION_DATE], [ACTION_BY], [UPDATE_BY], [UPDATE_DATE], [NOTE], [TAG_NO]) VALUES (3, 1, 1, 2, N'2020-03-04', N'w', CAST(N'2020-03-04 17:10:20.717' AS DateTime), 2, 2, CAST(N'2020-03-04 17:24:51.880' AS DateTime), N'Mother Board Problem and Power Supply Short circuit.', N'and/001, and/002')
SET IDENTITY_INSERT [dbo].[LEAVE_APPLICATION] ON 

INSERT [dbo].[LEAVE_APPLICATION] ([LEAVE_APP_ID], [LEAVE_TYPE_ID], [EMPLOYEE_ID], [START_DATE], [END_DATE], [APPROVED_START_DATE], [APPROVED_END_DATE], [STATUS], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [LEAVE_DAY]) VALUES (1, 1, 1, N'2020-02-19', N'2020-02-20', N'2020-02-19', N'2020-02-20', N'a', NULL, 2, CAST(N'2020-02-27 17:28:46.657' AS DateTime), 2, NULL, 2)
INSERT [dbo].[LEAVE_APPLICATION] ([LEAVE_APP_ID], [LEAVE_TYPE_ID], [EMPLOYEE_ID], [START_DATE], [END_DATE], [APPROVED_START_DATE], [APPROVED_END_DATE], [STATUS], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [LEAVE_DAY]) VALUES (2, 2, 1, N'2020-02-01', NULL, N'2020-02-01', NULL, N'a', NULL, 2, CAST(N'2020-02-27 17:29:12.973' AS DateTime), 2, NULL, 1)
INSERT [dbo].[LEAVE_APPLICATION] ([LEAVE_APP_ID], [LEAVE_TYPE_ID], [EMPLOYEE_ID], [START_DATE], [END_DATE], [APPROVED_START_DATE], [APPROVED_END_DATE], [STATUS], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [LEAVE_DAY]) VALUES (3, 3, 3, N'2020-02-26', NULL, N'2020-02-26', NULL, N'a', NULL, 2, CAST(N'2020-02-27 17:29:49.767' AS DateTime), 2, NULL, 0.5)
SET IDENTITY_INSERT [dbo].[LEAVE_APPLICATION] OFF
SET IDENTITY_INSERT [dbo].[LEAVE_TYPE] ON 

INSERT [dbo].[LEAVE_TYPE] ([LEAVE_ID], [LEAVE_TITLE], [REMARKS], [ACTIVE_BY], [ACTIVE_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'Casual Leave', N'N/A', 2, CAST(N'2020-02-27 16:18:56.860' AS DateTime), NULL, NULL)
INSERT [dbo].[LEAVE_TYPE] ([LEAVE_ID], [LEAVE_TITLE], [REMARKS], [ACTIVE_BY], [ACTIVE_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'Full Day', N'N/A', 0, CAST(N'2020-02-27 16:19:06.923' AS DateTime), 2, CAST(N'2020-02-27 16:19:11.660' AS DateTime))
INSERT [dbo].[LEAVE_TYPE] ([LEAVE_ID], [LEAVE_TITLE], [REMARKS], [ACTIVE_BY], [ACTIVE_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (3, N'Half Day', N'N/A', 2, CAST(N'2020-02-27 16:19:38.950' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[LEAVE_TYPE] OFF
SET IDENTITY_INSERT [dbo].[POSITIONAL_INFO] ON 

INSERT [dbo].[POSITIONAL_INFO] ([POSITION_ID], [POSITION_TITLE], [EMPLOYEE_ID], [BASIC_SALARY], [DUTY_TYPE], [RATE_TYPE], [PAY_FREQ], [DIV_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS], [WORKING_SHIFT], [WORKING_HOURS]) VALUES (1, N'Asp .Net Developer', 1, CAST(17000.00 AS Decimal(18, 2)), N'f', N's', N'm', 1, 1, CAST(N'2020-02-26 11:21:26.423' AS DateTime), 2, CAST(N'2020-03-03 14:01:36.843' AS DateTime), N'a', CAST(N'11:00:00' AS Time), 8)
INSERT [dbo].[POSITIONAL_INFO] ([POSITION_ID], [POSITION_TITLE], [EMPLOYEE_ID], [BASIC_SALARY], [DUTY_TYPE], [RATE_TYPE], [PAY_FREQ], [DIV_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS], [WORKING_SHIFT], [WORKING_HOURS]) VALUES (2, N'Sr. Dev', 2, CAST(63800.00 AS Decimal(18, 2)), N'f', N's', N'm', 1, 2, CAST(N'2020-02-27 17:26:22.363' AS DateTime), 2, CAST(N'2020-03-03 14:03:26.443' AS DateTime), N'a', CAST(N'11:00:00' AS Time), 8)
INSERT [dbo].[POSITIONAL_INFO] ([POSITION_ID], [POSITION_TITLE], [EMPLOYEE_ID], [BASIC_SALARY], [DUTY_TYPE], [RATE_TYPE], [PAY_FREQ], [DIV_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS], [WORKING_SHIFT], [WORKING_HOURS]) VALUES (3, N'C. Sales Off', 4, CAST(25000.00 AS Decimal(18, 2)), N'f', N's', N'm', 2, 2, CAST(N'2020-02-27 17:27:08.837' AS DateTime), NULL, NULL, N'a', CAST(N'23:00:00' AS Time), 8)
SET IDENTITY_INSERT [dbo].[POSITIONAL_INFO] OFF
SET IDENTITY_INSERT [dbo].[SALARY_INFO] ON 

INSERT [dbo].[SALARY_INFO] ([ID], [EMPLOYEE_ID], [SALARY_PAID], [GROSS_SALARY], [BONUS], [DEDUCTION], [TOTAL], [OTHERS], [ADDITION], [STATUS], [ADVANCE], [COMMISSION], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, 1, N'02, 2020', CAST(14000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(14000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 2, CAST(N'2020-03-03 11:28:47.837' AS DateTime), NULL, NULL)
INSERT [dbo].[SALARY_INFO] ([ID], [EMPLOYEE_ID], [SALARY_PAID], [GROSS_SALARY], [BONUS], [DEDUCTION], [TOTAL], [OTHERS], [ADDITION], [STATUS], [ADVANCE], [COMMISSION], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (3, 3, N'02, 2020', CAST(32100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(27100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(5000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 2, CAST(N'2020-03-03 11:29:19.907' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SALARY_INFO] OFF
SET IDENTITY_INSERT [dbo].[SALARY_INFO_SUM] ON 

INSERT [dbo].[SALARY_INFO_SUM] ([SALARY_INFO_SUM_ID], [SALARY_PAID_MONTH], [TOTAL_PAID]) VALUES (1, N'02, 2020', CAST(150300.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SALARY_INFO_SUM] OFF
SET IDENTITY_INSERT [dbo].[SALARY_SETUP] ON 

INSERT [dbo].[SALARY_SETUP] ([SALARY_SET_ID], [EMP_ID], [POSITION_ID], [PAY_TYPE], [GROSS_SALARY], [SALARY_GRADE_SETUP], [SALARY_GRADE_SETUP_STRING], [CANGE_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, 1, 1, N'b', CAST(14000.00 AS Decimal(18, 2)), N'a 1:2500 2:1500', N'House Rent: 2500; Medical Allowance : 1500; ', N'a', 2, CAST(N'2020-03-01 12:50:25.457' AS DateTime), 2, CAST(N'2020-03-01 14:54:48.000' AS DateTime))
INSERT [dbo].[SALARY_SETUP] ([SALARY_SET_ID], [EMP_ID], [POSITION_ID], [PAY_TYPE], [GROSS_SALARY], [SALARY_GRADE_SETUP], [SALARY_GRADE_SETUP_STRING], [CANGE_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (4, 2, 2, N'b', CAST(66000.00 AS Decimal(18, 2)), N'p 1:15 2:5', N'House Rent: 15% ; Medical Allowance : 5% ; ', N'a', 2, CAST(N'2020-03-02 11:19:02.897' AS DateTime), 2, CAST(N'2020-03-02 11:22:59.000' AS DateTime))
INSERT [dbo].[SALARY_SETUP] ([SALARY_SET_ID], [EMP_ID], [POSITION_ID], [PAY_TYPE], [GROSS_SALARY], [SALARY_GRADE_SETUP], [SALARY_GRADE_SETUP_STRING], [CANGE_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (5, 3, 4, N'b', CAST(32100.00 AS Decimal(18, 2)), N'p 1:5 2:2', N'House Rent: 5% ; Medical Allowance : 2% ; ', N'a', 2, CAST(N'2020-03-02 11:23:31.397' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SALARY_SETUP] OFF
SET IDENTITY_INSERT [dbo].[SALARY-GRADE] ON 

INSERT [dbo].[SALARY-GRADE] ([GRADE_ID], [GRADE_TITLE], [GRADE_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'House Rent', N'a', 1, CAST(N'2020-02-25 18:40:55.537' AS DateTime), NULL, NULL)
INSERT [dbo].[SALARY-GRADE] ([GRADE_ID], [GRADE_TITLE], [GRADE_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'Medical Allowance ', N'a', 0, CAST(N'2020-02-25 18:42:33.477' AS DateTime), 1, CAST(N'2020-02-25 18:51:35.430' AS DateTime))
INSERT [dbo].[SALARY-GRADE] ([GRADE_ID], [GRADE_TITLE], [GRADE_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (3, N'Mobile Bill', N'a', 1, CAST(N'2020-02-25 18:53:20.217' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SALARY-GRADE] OFF
SET IDENTITY_INSERT [dbo].[STOCK_INFO] ON 

INSERT [dbo].[STOCK_INFO] ([STOCK_ID], [EQP_ID], [UNIT], [STOCK_TYPE], [STOCK_FOR], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [INV_ID]) VALUES (1, 1, 10, N'p', N'a', 2, CAST(N'2020-03-04 16:02:49.477' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[STOCK_INFO] ([STOCK_ID], [EQP_ID], [UNIT], [STOCK_TYPE], [STOCK_FOR], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [INV_ID]) VALUES (2, 1, 2, N's', N'd', 2, CAST(N'2020-03-04 16:07:44.223' AS DateTime), NULL, NULL, 2)
INSERT [dbo].[STOCK_INFO] ([STOCK_ID], [EQP_ID], [UNIT], [STOCK_TYPE], [STOCK_FOR], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [INV_ID]) VALUES (3, 1, 2, N'w', N'd', 2, CAST(N'2020-03-04 17:10:20.717' AS DateTime), 2, CAST(N'2020-03-04 17:24:51.880' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[STOCK_INFO] OFF
SET IDENTITY_INSERT [dbo].[USER_INFO] ON 

INSERT [dbo].[USER_INFO] ([ID], [EMPLOYEE_ID], [USER_NAME], [CONTACT], [USER_ID], [PASSWORD], [USER_LEVEL], [IS_DELETED], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 1, N'Tama', N'0178546852', N'tama', N'123', N'e', N'a', CAST(N'2020-02-25 18:26:39.200' AS DateTime), NULL, CAST(N'2020-02-27 14:46:44.807' AS DateTime), 2)
INSERT [dbo].[USER_INFO] ([ID], [EMPLOYEE_ID], [USER_NAME], [CONTACT], [USER_ID], [PASSWORD], [USER_LEVEL], [IS_DELETED], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY]) VALUES (2, 2, N'Robert', N'123456', N'robert@andit.com', N'12345', N'a', N'a', CAST(N'2020-02-27 14:43:34.797' AS DateTime), NULL, CAST(N'2020-02-27 17:31:15.230' AS DateTime), 2)
INSERT [dbo].[USER_INFO] ([ID], [EMPLOYEE_ID], [USER_NAME], [CONTACT], [USER_ID], [PASSWORD], [USER_LEVEL], [IS_DELETED], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY]) VALUES (3, 4, N'Ellisa', N'2658955', N'ellisa@andit.com', N'12345', N'e', N'a', CAST(N'2020-02-27 14:46:16.873' AS DateTime), NULL, CAST(N'2020-02-27 17:31:23.820' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[USER_INFO] OFF
SET IDENTITY_INSERT [dbo].[VENDOR_INFO] ON 

INSERT [dbo].[VENDOR_INFO] ([VENDOR_ID], [VENDOR_NAME], [ADDRESS], [CONTACT], [VENDOR_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS]) VALUES (1, N'Rayans', N'khulna', N'123', N's', 2, CAST(N'2020-03-04 16:02:27.437' AS DateTime), NULL, NULL, N'a')
INSERT [dbo].[VENDOR_INFO] ([VENDOR_ID], [VENDOR_NAME], [ADDRESS], [CONTACT], [VENDOR_TYPE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS]) VALUES (2, N'J&P', N'khulna', N'12345', N'b', 2, CAST(N'2020-03-04 16:07:19.913' AS DateTime), NULL, NULL, N'a')
SET IDENTITY_INSERT [dbo].[VENDOR_INFO] OFF
ALTER TABLE [dbo].[ASSET_MANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ASSET_ASSIGNMENT_EMPLOYEE_INFO] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[ASSET_MANAGEMENT] CHECK CONSTRAINT [FK_ASSET_ASSIGNMENT_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[ASSET_MANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_ASSET_MANAGEMENT_EQUEPMENTS_INFO] FOREIGN KEY([EQUP_ID])
REFERENCES [dbo].[EQUEPMENTS_INFO] ([EQUEPMENT_ID])
GO
ALTER TABLE [dbo].[ASSET_MANAGEMENT] CHECK CONSTRAINT [FK_ASSET_MANAGEMENT_EQUEPMENTS_INFO]
GO
ALTER TABLE [dbo].[ATTENDANCE_DETAILS]  WITH NOCHECK ADD  CONSTRAINT [FK_ATTENDANCE_DETAILS_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[ATTENDANCE_DETAILS] CHECK CONSTRAINT [FK_ATTENDANCE_DETAILS_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[CARD_ASSIGN_INFO]  WITH CHECK ADD  CONSTRAINT [FK_CARD_ASSIGN_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[CARD_ASSIGN_INFO] CHECK CONSTRAINT [FK_CARD_ASSIGN_INFO_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[DIVISION_INFO]  WITH CHECK ADD  CONSTRAINT [FK_DIVISION_INFO_DEPARTMENT_INFO] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENT_INFO] ([DEPT_ID])
GO
ALTER TABLE [dbo].[DIVISION_INFO] CHECK CONSTRAINT [FK_DIVISION_INFO_DEPARTMENT_INFO]
GO
ALTER TABLE [dbo].[EMPLOYEE_APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_APPLICATION_EMPLOYEE_INFO] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_APPLICATION] CHECK CONSTRAINT [FK_EMPLOYEE_APPLICATION_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[EQUEPMENTS_INFO]  WITH CHECK ADD  CONSTRAINT [FK_EQUEPMENTS_INFO_EQUEPMENTS_INFO] FOREIGN KEY([ASSET_ID])
REFERENCES [dbo].[ASSET_INFO] ([ASSET_ID])
GO
ALTER TABLE [dbo].[EQUEPMENTS_INFO] CHECK CONSTRAINT [FK_EQUEPMENTS_INFO_EQUEPMENTS_INFO]
GO
ALTER TABLE [dbo].[INCREMENT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_INCREMENT_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[INCREMENT_INFO] CHECK CONSTRAINT [FK_INCREMENT_INFO_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[INCREMENT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_INCREMENT_INFO_INCREMENT_TYPE_INFO] FOREIGN KEY([INCREMENT_TYPE])
REFERENCES [dbo].[INCREMENT_TYPE_INFO] ([INCREMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[INCREMENT_INFO] CHECK CONSTRAINT [FK_INCREMENT_INFO_INCREMENT_TYPE_INFO]
GO
ALTER TABLE [dbo].[INV_INFO]  WITH CHECK ADD  CONSTRAINT [FK_INV_INFO_INV_INFO] FOREIGN KEY([EQP_ID])
REFERENCES [dbo].[EQUEPMENTS_INFO] ([EQUEPMENT_ID])
GO
ALTER TABLE [dbo].[INV_INFO] CHECK CONSTRAINT [FK_INV_INFO_INV_INFO]
GO
ALTER TABLE [dbo].[INV_INFO]  WITH CHECK ADD  CONSTRAINT [FK_INV_INFO_VENDOR_INFO] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR_INFO] ([VENDOR_ID])
GO
ALTER TABLE [dbo].[INV_INFO] CHECK CONSTRAINT [FK_INV_INFO_VENDOR_INFO]
GO
ALTER TABLE [dbo].[LEAVE_APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_LEAVE_APPLICATION_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[LEAVE_APPLICATION] CHECK CONSTRAINT [FK_LEAVE_APPLICATION_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[LEAVE_APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_LEAVE_APPLICATION_LEAVE_APPLICATION] FOREIGN KEY([LEAVE_TYPE_ID])
REFERENCES [dbo].[LEAVE_TYPE] ([LEAVE_ID])
GO
ALTER TABLE [dbo].[LEAVE_APPLICATION] CHECK CONSTRAINT [FK_LEAVE_APPLICATION_LEAVE_APPLICATION]
GO
ALTER TABLE [dbo].[POSITIONAL_INFO]  WITH CHECK ADD  CONSTRAINT [FK_POSITIONAL_INFO_DIVISION_INFO] FOREIGN KEY([DIV_ID])
REFERENCES [dbo].[DIVISION_INFO] ([DIV_ID])
GO
ALTER TABLE [dbo].[POSITIONAL_INFO] CHECK CONSTRAINT [FK_POSITIONAL_INFO_DIVISION_INFO]
GO
ALTER TABLE [dbo].[POSITIONAL_INFO]  WITH CHECK ADD  CONSTRAINT [FK_POSITIONAL_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[POSITIONAL_INFO] CHECK CONSTRAINT [FK_POSITIONAL_INFO_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[SALARY_INFO]  WITH CHECK ADD  CONSTRAINT [FK_SALARY_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[SALARY_INFO] CHECK CONSTRAINT [FK_SALARY_INFO_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[SALARY_SETUP]  WITH CHECK ADD  CONSTRAINT [FK_SALARY_SETUP_EMPLOYEE_INFO] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[SALARY_SETUP] CHECK CONSTRAINT [FK_SALARY_SETUP_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[SALARY_SETUP]  WITH CHECK ADD  CONSTRAINT [FK_SALARY_SETUP_POSITIONAL_INFO] FOREIGN KEY([POSITION_ID])
REFERENCES [dbo].[POSITIONAL_INFO] ([POSITION_ID])
GO
ALTER TABLE [dbo].[SALARY_SETUP] CHECK CONSTRAINT [FK_SALARY_SETUP_POSITIONAL_INFO]
GO
ALTER TABLE [dbo].[STOCK_INFO]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_INFO_EQUEPMENTS_INFO] FOREIGN KEY([EQP_ID])
REFERENCES [dbo].[EQUEPMENTS_INFO] ([EQUEPMENT_ID])
GO
ALTER TABLE [dbo].[STOCK_INFO] CHECK CONSTRAINT [FK_STOCK_INFO_EQUEPMENTS_INFO]
GO
ALTER TABLE [dbo].[STOCK_INFO]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_INFO_INV_INFO] FOREIGN KEY([INV_ID])
REFERENCES [dbo].[INV_INFO] ([INV_ID])
GO
ALTER TABLE [dbo].[STOCK_INFO] CHECK CONSTRAINT [FK_STOCK_INFO_INV_INFO]
GO
ALTER TABLE [dbo].[TEAM_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DETAILS_EMPLOYEE_INFO] FOREIGN KEY([MEMBER])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[TEAM_DETAILS] CHECK CONSTRAINT [FK_TEAM_DETAILS_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[TEAM_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DETAILS_TEAM] FOREIGN KEY([TEAM_ID])
REFERENCES [dbo].[TEAM_INFO] ([ID])
GO
ALTER TABLE [dbo].[TEAM_DETAILS] CHECK CONSTRAINT [FK_TEAM_DETAILS_TEAM]
GO
ALTER TABLE [dbo].[TEAM_INFO]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_EMPLOYEE_INFO] FOREIGN KEY([TEAM_LEADER])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[TEAM_INFO] CHECK CONSTRAINT [FK_TEAM_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[TRANSACTION_SHEET]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_SHEET_TRANSACTION_ITEM] FOREIGN KEY([TRNS_ID])
REFERENCES [dbo].[TRANSACTION_ITEM] ([TRNS_ID])
GO
ALTER TABLE [dbo].[TRANSACTION_SHEET] CHECK CONSTRAINT [FK_TRANSACTION_SHEET_TRANSACTION_ITEM]
GO
ALTER TABLE [dbo].[USER_INFO]  WITH CHECK ADD  CONSTRAINT [FK_USER_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[USER_INFO] CHECK CONSTRAINT [FK_USER_INFO_EMPLOYEE_INFO]
GO
USE [master]
GO
