USE [master]
GO
/****** Object:  Database [EMS]    Script Date: 2020-01-20 6:03:44 PM ******/
CREATE DATABASE [EMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMS]
GO
/****** Object:  Table [dbo].[ATTENDANCE_DETAILS]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE_DETAILS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
	[ATT_DATE] [date] NOT NULL,
 CONSTRAINT [PK_ATTENDANCE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENT_INFO]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT_INFO](
	[DEPT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DEPT_TITLE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_DEPARTMENT_INFO] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIVISION_INFO]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIVISION_INFO](
	[DIV_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DIV_TITLE] [nvarchar](50) NOT NULL,
	[DEPT_ID] [bigint] NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_DIVISION_INFO] PRIMARY KEY CLUSTERED 
(
	[DIV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE_INFO]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[CONTACT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NID] [nvarchar](50) NULL,
	[IMAGE] [nvarchar](500) NULL,
	[IS_DELETED] [char](1) NOT NULL,
	[JOINING_DATE] [nvarchar](50) NULL,
	[RESIGNING_DATE] [nvarchar](50) NULL,
	[DESIGNATION] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CITY] [nvarchar](50) NULL,
	[POSTAL_CODE] [int] NULL,
	[DOB] [nvarchar](50) NULL,
	[GENDER] [char](1) NULL,
	[MARITALA_STATUS] [char](1) NULL,
	[NATIONALITY] [nvarchar](50) NULL,
	[BLOOD_GROUP] [char](2) NULL,
 CONSTRAINT [PK_EMPLOYEE_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LEAVE_APPLICATION]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE_APPLICATION](
	[LEAVE_APP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LEAVE_TYPE_ID] [bigint] NOT NULL,
	[START_DATE] [nvarchar](50) NOT NULL,
	[END_DATE] [nvarchar](50) NOT NULL,
	[APPROVED_START_DATE] [nvarchar](50) NULL,
	[APPROVED_END_DATE] [nvarchar](50) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTIVE_BY] [bigint] NOT NULL,
	[ACTIVE_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_LEAVE_APPLICATION] PRIMARY KEY CLUSTERED 
(
	[LEAVE_APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LEAVE_TYPE]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE_TYPE](
	[LEAVE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LEAVE_TITLE] [nvarchar](50) NOT NULL,
	[REMARKS] [nvarchar](500) NULL,
	[ACTIVE_BY] [bigint] NOT NULL,
	[ACTIVE_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_LEAVE_TYPE] PRIMARY KEY CLUSTERED 
(
	[LEAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOTICE_BOARD]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTICE_BOARD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOTICE] [nvarchar](50) NOT NULL,
	[ACTION_BY] [bigint] NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[STATUS] [char](1) NOT NULL,
 CONSTRAINT [PK_NOTICE_BOARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSITIONAL_INFO]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSITIONAL_INFO](
	[POSITION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POSITION_TITLE] [nvarchar](50) NOT NULL,
	[DUTY_TYPE] [char](1) NOT NULL,
	[RATE_TYPE] [char](1) NOT NULL,
	[PAY_FREQ] [char](1) NOT NULL,
	[DIV_ID] [bigint] NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_POSITIONAL_INFO] PRIMARY KEY CLUSTERED 
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALARY_INFO]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NOT NULL,
	[BASIC_SALARY] [decimal](18, 2) NOT NULL,
	[BONUS] [decimal](18, 2) NULL,
	[OTHERS] [decimal](18, 2) NULL,
	[SALARY_PAID] [date] NOT NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[REMARKS] [nvarchar](50) NULL,
 CONSTRAINT [PK_SALARY_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEAM]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEAM_TITLE] [nvarchar](50) NOT NULL,
	[TEAM_LEADER] [bigint] NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STATUS] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEAM_DETAILS]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM_DETAILS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEAM] [bigint] NOT NULL,
	[MEMBER] [bigint] NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STATUS] [char](1) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TEAM_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACTION_ITEM]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACTION_ITEM](
	[TRNS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRNS_TITLE] [nvarchar](50) NOT NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[TYPE] [char](1) NOT NULL,
 CONSTRAINT [PK_EXPENSES_ITEM] PRIMARY KEY CLUSTERED 
(
	[TRNS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACTION_SHEET]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACTION_SHEET](
	[TRNS_S_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[TRNS_ID] [bigint] NOT NULL,
	[AMOUNT] [decimal](18, 2) NOT NULL,
	[PAY_TYPE] [char](1) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[ACTION_BY] [bigint] NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[UPDATE_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[TYPE] [char](1) NULL,
 CONSTRAINT [PK_EXPENSES_SHEET] PRIMARY KEY CLUSTERED 
(
	[TRNS_S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_INFO]    Script Date: 2020-01-20 6:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [bigint] NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[CONTACT] [varchar](50) NULL,
	[USER_ID] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[USER_LEVEL] [char](1) NOT NULL,
	[IS_DELETED] [char](1) NULL,
	[ACTION_DATE] [datetime] NULL,
	[ACTION_BY] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [bigint] NULL,
 CONSTRAINT [PK_USER_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT_INFO] ON 

INSERT [dbo].[DEPARTMENT_INFO] ([DEPT_ID], [DEPT_TITLE], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'Development', N'N/A', 0, CAST(N'2020-01-19 15:39:56.060' AS DateTime), 0, CAST(N'2020-01-19 15:48:10.140' AS DateTime))
INSERT [dbo].[DEPARTMENT_INFO] ([DEPT_ID], [DEPT_TITLE], [REMARKS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'Marketing', NULL, 0, CAST(N'2020-01-19 16:06:56.177' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DEPARTMENT_INFO] OFF
SET IDENTITY_INSERT [dbo].[DIVISION_INFO] ON 

INSERT [dbo].[DIVISION_INFO] ([DIV_ID], [DIV_TITLE], [DEPT_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'Laravel', 1, 0, CAST(N'2020-01-19 16:40:13.007' AS DateTime), NULL, NULL)
INSERT [dbo].[DIVISION_INFO] ([DIV_ID], [DIV_TITLE], [DEPT_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'C#', 1, 0, CAST(N'2020-01-19 16:42:47.270' AS DateTime), NULL, NULL)
INSERT [dbo].[DIVISION_INFO] ([DIV_ID], [DIV_TITLE], [DEPT_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (4, N'Sales', 2, 0, CAST(N'2020-01-19 16:44:41.757' AS DateTime), 0, CAST(N'2020-01-19 16:45:13.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[DIVISION_INFO] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEE_INFO] ON 

INSERT [dbo].[EMPLOYEE_INFO] ([ID], [EMPLOYEE_NAME], [ADDRESS], [CONTACT], [EMAIL], [NID], [IMAGE], [IS_DELETED], [JOINING_DATE], [RESIGNING_DATE], [DESIGNATION], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [CITY], [POSTAL_CODE], [DOB], [GENDER], [MARITALA_STATUS], [NATIONALITY], [BLOOD_GROUP]) VALUES (1, N'Charly', N'khulna', N'123', N'tama@gmail.com', N'175989002', NULL, N'a', N'2020-01-10', NULL, NULL, NULL, CAST(N'2020-01-15 10:46:01.527' AS DateTime), 0, CAST(N'2020-01-20 13:04:01.163' AS DateTime), N'khulna', 1234, N'1987-02-02', N'm', N's', NULL, NULL)
INSERT [dbo].[EMPLOYEE_INFO] ([ID], [EMPLOYEE_NAME], [ADDRESS], [CONTACT], [EMAIL], [NID], [IMAGE], [IS_DELETED], [JOINING_DATE], [RESIGNING_DATE], [DESIGNATION], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [CITY], [POSTAL_CODE], [DOB], [GENDER], [MARITALA_STATUS], [NATIONALITY], [BLOOD_GROUP]) VALUES (2, N'Mr. Duke', N'khulna', N'54432', N'x@gmail.com', N'2555698006', NULL, N'a', N'2020-01-01', NULL, N'Designer', NULL, CAST(N'2020-01-15 16:45:54.750' AS DateTime), NULL, CAST(N'2020-01-18 13:15:06.657' AS DateTime), N'khulna', 2556, NULL, N'm', N's', NULL, NULL)
INSERT [dbo].[EMPLOYEE_INFO] ([ID], [EMPLOYEE_NAME], [ADDRESS], [CONTACT], [EMAIL], [NID], [IMAGE], [IS_DELETED], [JOINING_DATE], [RESIGNING_DATE], [DESIGNATION], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [CITY], [POSTAL_CODE], [DOB], [GENDER], [MARITALA_STATUS], [NATIONALITY], [BLOOD_GROUP]) VALUES (3, N'Stephen', N'Khulna', N'12345', N's@gmail.com', N'52468', NULL, N'a', NULL, NULL, N'PM', NULL, CAST(N'2020-01-18 11:49:51.203' AS DateTime), NULL, CAST(N'2020-01-18 13:14:41.313' AS DateTime), N'Khulna', 2432, NULL, N'm', N's', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYEE_INFO] OFF
SET IDENTITY_INSERT [dbo].[NOTICE_BOARD] ON 

INSERT [dbo].[NOTICE_BOARD] ([ID], [NOTICE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS]) VALUES (1, N'new notice', NULL, CAST(N'2020-01-15 10:46:01.527' AS DateTime), 0, CAST(N'2020-01-19 12:29:25.087' AS DateTime), N'd')
INSERT [dbo].[NOTICE_BOARD] ([ID], [NOTICE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS]) VALUES (2, N'new notice 2', 0, CAST(N'2020-01-19 11:47:02.350' AS DateTime), NULL, NULL, N'a')
INSERT [dbo].[NOTICE_BOARD] ([ID], [NOTICE], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [STATUS]) VALUES (3, N'Regular Attendance', 0, CAST(N'2020-01-19 12:29:53.787' AS DateTime), NULL, NULL, N'a')
SET IDENTITY_INSERT [dbo].[NOTICE_BOARD] OFF
SET IDENTITY_INSERT [dbo].[POSITIONAL_INFO] ON 

INSERT [dbo].[POSITIONAL_INFO] ([POSITION_ID], [POSITION_TITLE], [DUTY_TYPE], [RATE_TYPE], [PAY_FREQ], [DIV_ID], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [EMPLOYEE_ID]) VALUES (1, N'Laravel Developer', N'f', N's', N'm', 1, 0, CAST(N'2020-01-20 11:14:44.613' AS DateTime), 0, CAST(N'2020-01-20 13:01:46.313' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[POSITIONAL_INFO] OFF
SET IDENTITY_INSERT [dbo].[SALARY_INFO] ON 

INSERT [dbo].[SALARY_INFO] ([ID], [EMPLOYEE_ID], [BASIC_SALARY], [BONUS], [OTHERS], [SALARY_PAID], [TOTAL], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE], [REMARKS]) VALUES (1, 1, CAST(1000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(N'2020-01-15' AS Date), CAST(1550.00 AS Decimal(18, 2)), 0, CAST(N'2020-01-15 15:31:59.060' AS DateTime), NULL, CAST(N'2020-01-15 16:20:06.020' AS DateTime), N'Test')
SET IDENTITY_INSERT [dbo].[SALARY_INFO] OFF
SET IDENTITY_INSERT [dbo].[TEAM] ON 

INSERT [dbo].[TEAM] ([ID], [TEAM_TITLE], [TEAM_LEADER], [REMARKS], [STATUS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, N'ASP.Net', 3, N'N/A', N'a', 0, CAST(N'2020-01-18 12:16:53.863' AS DateTime), 0, CAST(N'2020-01-18 13:13:27.263' AS DateTime))
INSERT [dbo].[TEAM] ([ID], [TEAM_TITLE], [TEAM_LEADER], [REMARKS], [STATUS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, N'Dev', 2, NULL, N'a', 0, CAST(N'2020-01-18 12:20:27.247' AS DateTime), NULL, NULL)
INSERT [dbo].[TEAM] ([ID], [TEAM_TITLE], [TEAM_LEADER], [REMARKS], [STATUS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (3, N'Dev2', 1, NULL, N'a', 0, CAST(N'2020-01-18 12:47:56.093' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TEAM] OFF
SET IDENTITY_INSERT [dbo].[TEAM_DETAILS] ON 

INSERT [dbo].[TEAM_DETAILS] ([ID], [TEAM], [MEMBER], [REMARKS], [STATUS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (1, 1, 2, NULL, N'a', 0, CAST(N'2020-01-18 14:19:38.243' AS DateTime), 0, CAST(N'2020-01-18 14:31:33.873' AS DateTime))
INSERT [dbo].[TEAM_DETAILS] ([ID], [TEAM], [MEMBER], [REMARKS], [STATUS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (2, 1, 4, N'N/A', N'a', 0, CAST(N'2020-01-18 16:35:06.733' AS DateTime), NULL, NULL)
INSERT [dbo].[TEAM_DETAILS] ([ID], [TEAM], [MEMBER], [REMARKS], [STATUS], [ACTION_BY], [ACTION_DATE], [UPDATE_BY], [UPDATE_DATE]) VALUES (3, 2, 5, NULL, N'a', 0, CAST(N'2020-01-18 16:35:34.057' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TEAM_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[USER_INFO] ON 

INSERT [dbo].[USER_INFO] ([ID], [EMPLOYEE_ID], [USER_NAME], [CONTACT], [USER_ID], [PASSWORD], [USER_LEVEL], [IS_DELETED], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY]) VALUES (1, 1, N'Tama Sarker', N'123', N'tama', N'123', N'a', N'a', CAST(N'2020-01-15 11:31:40.770' AS DateTime), NULL, CAST(N'2020-01-20 16:39:26.880' AS DateTime), 1)
INSERT [dbo].[USER_INFO] ([ID], [EMPLOYEE_ID], [USER_NAME], [CONTACT], [USER_ID], [PASSWORD], [USER_LEVEL], [IS_DELETED], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY]) VALUES (2, 2, N'Mr. X', N'54432', N'abc', N'12345', N'e', N'a', CAST(N'2020-01-16 15:43:53.723' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[USER_INFO] ([ID], [EMPLOYEE_ID], [USER_NAME], [CONTACT], [USER_ID], [PASSWORD], [USER_LEVEL], [IS_DELETED], [ACTION_DATE], [ACTION_BY], [UPDATE_DATE], [UPDATE_BY]) VALUES (3, 3, N'Stephen', N'12345', N'ste', N'123', N'a', N'a', CAST(N'2020-01-20 13:42:51.820' AS DateTime), NULL, CAST(N'2020-01-20 16:31:39.177' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[USER_INFO] OFF
ALTER TABLE [dbo].[DIVISION_INFO]  WITH CHECK ADD  CONSTRAINT [FK_DIVISION_INFO_DEPARTMENT_INFO] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENT_INFO] ([DEPT_ID])
GO
ALTER TABLE [dbo].[DIVISION_INFO] CHECK CONSTRAINT [FK_DIVISION_INFO_DEPARTMENT_INFO]
GO
ALTER TABLE [dbo].[LEAVE_APPLICATION]  WITH CHECK ADD  CONSTRAINT [FK_LEAVE_APPLICATION_LEAVE_APPLICATION] FOREIGN KEY([LEAVE_TYPE_ID])
REFERENCES [dbo].[LEAVE_TYPE] ([LEAVE_ID])
GO
ALTER TABLE [dbo].[LEAVE_APPLICATION] CHECK CONSTRAINT [FK_LEAVE_APPLICATION_LEAVE_APPLICATION]
GO
ALTER TABLE [dbo].[POSITIONAL_INFO]  WITH CHECK ADD  CONSTRAINT [FK_POSITIONAL_INFO_DIVISION_INFO] FOREIGN KEY([DIV_ID])
REFERENCES [dbo].[DIVISION_INFO] ([DIV_ID])
GO
ALTER TABLE [dbo].[POSITIONAL_INFO] CHECK CONSTRAINT [FK_POSITIONAL_INFO_DIVISION_INFO]
GO
ALTER TABLE [dbo].[POSITIONAL_INFO]  WITH CHECK ADD  CONSTRAINT [FK_POSITIONAL_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[POSITIONAL_INFO] CHECK CONSTRAINT [FK_POSITIONAL_INFO_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[SALARY_INFO]  WITH CHECK ADD  CONSTRAINT [FK_SALARY_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[SALARY_INFO] CHECK CONSTRAINT [FK_SALARY_INFO_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[TEAM]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_EMPLOYEE_INFO] FOREIGN KEY([TEAM_LEADER])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[TEAM] CHECK CONSTRAINT [FK_TEAM_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[TEAM_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DETAILS_EMPLOYEE_INFO] FOREIGN KEY([MEMBER])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[TEAM_DETAILS] CHECK CONSTRAINT [FK_TEAM_DETAILS_EMPLOYEE_INFO]
GO
ALTER TABLE [dbo].[TEAM_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_DETAILS_TEAM] FOREIGN KEY([TEAM])
REFERENCES [dbo].[TEAM] ([ID])
GO
ALTER TABLE [dbo].[TEAM_DETAILS] CHECK CONSTRAINT [FK_TEAM_DETAILS_TEAM]
GO
ALTER TABLE [dbo].[TRANSACTION_SHEET]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_SHEET_TRANSACTION_ITEM] FOREIGN KEY([TRNS_ID])
REFERENCES [dbo].[TRANSACTION_ITEM] ([TRNS_ID])
GO
ALTER TABLE [dbo].[TRANSACTION_SHEET] CHECK CONSTRAINT [FK_TRANSACTION_SHEET_TRANSACTION_ITEM]
GO
ALTER TABLE [dbo].[USER_INFO]  WITH CHECK ADD  CONSTRAINT [FK_USER_INFO_EMPLOYEE_INFO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE_INFO] ([ID])
GO
ALTER TABLE [dbo].[USER_INFO] CHECK CONSTRAINT [FK_USER_INFO_EMPLOYEE_INFO]
GO
USE [master]
GO
